@model IEnumerable<E_Commerce_App.Models.Category>

@{
    ViewData["Title"] = "Index";
}



<div class="row  my-3">
    <div class="d-flex align-items-center">
        <h1 class="Categoriesh1">Categories</h1>
      @*    <i class="fas fa-tv text-primary mx-2" style="font-size: 24px;"></i>
         <i class="fas fa-keyboard text-success mx-2" style="font-size: 24px;"></i>
         <i class="fas fa-laptop text-danger mx-2" style="font-size: 24px;"></i>
         <i class="fas fa-mobile-screen-button text-info mx-2" style="font-size: 24px;"></i> *@
    </div>



    <hr />
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4 d-flex">
            <div class="card w-100 ">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                     data-mdb-ripple-color="light">
                    <img src="@item.imgURL" class="w-100"style="height:300px;" />
                    <a asp-controller="Categories" asp-action="CategoryDetails" asp-route-categoryID="@item.CategoryId">
                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                                <h5><span class="badge bg-primary ms-2">Discover it</span></h5>
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                    </a>
                </div>
                <div class="card-body  text-center">
                    <a asp-controller="Categories" asp-action="CategoryDetails" asp-route-categoryID="@item.CategoryId" class="text-reset">
                        <p class="fw-bold fs-3">@item.Name</p>
                    </a>
                </div>
            </div>
        </div>

    }
</div>

